.playground {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
}

.left, .right {
  flex-basis: 50%;
  padding: 10px;
}

.right {
  text-align: center;
}

.right button {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background: #4caf50; /* Green color */
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  width: 100px;
  height: 40px;
  transition: background 0.3s ease-in-out;
}

.right button:hover {
  background: #45a049; /* Darker green on hover */
}

.left textarea {
  width: 100%;
  height: 20vh;
  background: #1f1f1f;
  color: wheat;
  padding: 10px;
  border: 0;
  outline: 0;
  font-size: 1rem;
  resize: none;
  overflow: auto;
}

.right iframe {
  width: 100%;
  height: 80vh;
  background: #fff;
  border: 0;
  outline: 0;
  overflow: auto;
}

.left label {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333; /* Darker background color */
  height: 35px;
  font-size: 1.2rem;
  color: white; /* Text color */
  border-bottom: 1px solid #555; /* Border between label and textarea */
}
